@font-face {
    font-family:customfont;
    src: url(assets/fonts/CenturyGothic.ttf);
}
@font-face {
    font-family:customfontBOLD;
    src: url(assets/fonts/GOTHICB.TTF);
}
*{
    font-family: customfont;
    margin: 0;
    padding: 0;
    line-height: 1 !important;
    font-size: 16px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}
.fa-solid{
    display: none;
}
.bold{
    font-family: customfontBOLD;
}
.blue{
    color: blue;
}
.yellow{
    background-color: yellow;
}
.width-20{
    width: 20%;
}
.position{
    position: fixed;

}
@media(max-width:900px ){
    .width-20{
        width: 100%;
        position: relative;
    }
}
.image{
    background-image: url(images/a.jpg);
    color: white;
    width: 80%;
}
.gradiant p{
    margin-bottom: 0px !important;
}
a{
    color: blue;
    /* text-decoration: none; */
}
.color-img{
    background-image: url(images/gradient-image.jpg);
    color: white;
}
.contact p, .second-page p{
    margin-bottom: 0;
}
.border-img{
    border-right: 10px solid transparent;
    border-image: url(images/line.jpg) 30 round;
}